.alumni-section {
  display: flex;
  flex-direction: column;
  gap: 120px;
}
.alumni-row {
  display: grid;
  grid-template-columns: 500px 1fr;
  gap: 80px;
  align-items: center;
}
.alumni-fill-available {
  height: -webkit-fill-available;
  width: -moz-available;

}

.alumni-left {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 160px 160px;
  gap: 16px;
}

.grid-item {
  border:1px solid #3B3B3B;
  border-radius: 14px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
}

.name {
  grid-column: span 2;
}
/* 
.name h3 {
  font-size: 22px;
} */

.company {
  flex-direction: column;
  gap: 8px;
}

.company img {
    width: 100%;
    height: auto;
  object-fit: contain;
  border-radius: 14px;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .alumni-row {
    grid-template-columns: 1fr;
  }

  .alumni-left {
    grid-template-columns: repeat(3, 1fr);
  }
}