@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 @import url('https://fonts.cdnfonts.com/css/satoshi');

@import "tailwindcss";


:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

body{
  overflow-x: hidden;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #fefe00;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.875rem;
  color: #ffffff;
  font-weight: 700;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.375rem;
  color: #fefe00;
  font-weight: 700;
}

p {
  font-family: 'Satoshi', sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  color: #ffffff;
}

span {
  font-size: 14px;

}

h2 span {
  font-size: 2.875rem;
}

p span {
  font-size: 1.375rem;
}

img {
  width: 100%;
  height: auto;
}

/* In your CSS file */
.fill-available {
  width: -webkit-fill-available;
  width: -moz-available;
  /* optional for Firefox */
}

.custom-border {
  border: 4px solid #3B3B3B;
  background: #000000;
}

.form-background {
  background: #2B2B2B;
}

input,
textarea {
  border: 1px solid #4A4A00;
}

button {
  color: #ffff00;
  background-color: #000;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  cursor: pointer;
padding: 12px 24px;
  box-shadow:
    0 -2px 4px rgba(255, 255, 0, 1),  /* bright yellow top glow */
    0 1px 6px rgba(255, 255, 0, 0.2);   /* soft yellow bottom glow */
  transition: box-shadow 0.3s ease;
}

.text-18 {
  @apply text-base; /* closest: 16px */
  font-size: 18px;
}


.grid-svg{
    width: 62%;
    z-index: -1;
    overflow: hidden;
}

/* 

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */