@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/satoshi');

@import "tailwindcss";


:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000101;

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
/* *{
  background-color: #000101;
} */

body {
  overflow-x: hidden;
}

 
 /* #root{
  overflow-x: hidden;
 } */

  /* .flow-style{
  overflow: scroll !important;
 } */

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #fefe00;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.875rem;
  color: #ffffff;
  font-weight: 700;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.375rem;
  color: #fefe00;
  font-weight: 700;
}

p {
  font-family: 'Satoshi', sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  color: #ffffff;
}

span,
li {
  font-size: 14px;

}

h2 span {
  font-size: 2.875rem;
}

p span {
  font-size: 1.375rem;
}

img {
  width: 100%;
  height: auto;
}

/* In your CSS file */
.fill-available {
  width: -webkit-fill-available;
  width: -moz-available;
  /* optional for Firefox */
}

.custom-border {
  border: 4px solid #3B3B3B;
  background: #000000;
}

.form-background {
  background: #2B2B2B;
}

input,
textarea {
  border: 2px solid #4A4A00;
}

button {
  color: #ffff00;
  /* background-color: #000; */
  /* border: none; */
  border-radius: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  cursor: pointer;
  padding: 12px 24px;
  /* box-shadow:
    0 -2px 4px rgba(255, 255, 0, 1),
    0 1px 6px rgba(255, 255, 0, 0.2); */
  transition: box-shadow 0.3s ease;
}

.border-gradient {
  --c: #171717;
  --p: 10%;
  background: linear-gradient(var(--c), var(--c)) padding-box,
    conic-gradient(
        from var(--gradient-angle, 0deg),
        transparent,
        #fefe00 var(--p),
        transparent calc(var(--p) * 2)
      )
      border-box;
  border: 2px solid transparent;
}

button:hover{
  background:#fefe00;
  color: #000;
  box-shadow: none;
  font-weight: 700
}

.text-18 {
  @apply text-base;
  font-size: 18px;
}


.grid-svg {
  width: 62%;
  z-index: -1;
  overflow: hidden;
}

/* You can add this to your global CSS or Tailwind config via @layer utilities */
.stacked-card {
  transform: translateY(100px);
  opacity: 0;
}

.stacked-card.stacked {
  transform: translateY(0px);
  opacity: 1;
}

@layer utilities {
  .stacked-card {
    @apply opacity-0 translate-y-8 transition-all duration-500;
  }

  .stacked-card.stacked {
    @apply opacity-100 translate-y-0;
  }
}

.bar_prog {

  width: 14px;

  height: 4px;
}

.price-light{
  font-size: 18px;
}


@media (max-width:768px) {

  h1,
  h2 {
    font-size: 28px;
  }

  p,
  label {
    font-size: 12px;
  }
  p{
    font-size: 15px;
  }

  span{
    font-size: 12px;
  }

  button {
    font-size: 12px;
  }

  h2 span {
    font-size: 28px;
  }

  p span {
    font-size: 15px;
  }


  .grid-svg {
    width: auto;
  }

  .mobsvg {
    width: 140px;
    height: 140px;
  }

  .itemsvg svg {
    width: 24px;
    height: 24px;
  }

  .font-small {
    font-size: 20px;
  }

  .spannum {
    font-size: 13px;
  }

  .checksvg {
    width: 14px;
    height: 14px;
  }

  .price-bold {
    font-size: 22px;
  }

  .price-light {
    font-size: 14px;
  }

  .size-diff {
    font-size: 20px;
  }

  .homesvg,
  .currsvg img {
    width: 30px;
    height: 30px;
  }

  .currsvg img {
    width: 34px;
    height: 34px;
  }

  footer {
    /* z-index: 2; */
    position: relative;
  }

  .hero-gridsvg {
    height: 460px;
    bottom: 100px;
    width: 88%;
    right: -234px;
}

footer a{
  font-size: 8px;
  margin: 0;
}

.checkyc{
  width: 12px;
  height: 12px;
}

.fontsizemockstyle span{
  font-size: 12px;
}
.fontsizemockstyle{
  max-width:unset;
  margin:0;
  width:100%
}

.stacking-card{
  margin-top: 4px !important;
}

}

/* 

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */